html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

.wrapper {
    overflow: hidden;
}

.content-fit {
    padding-left: 0;
    padding-right: 0;
    margin-left: 24.3%;
}

.bgc-main {
    background-color: #002c79;
}

.bgc-primary {
    background-color: #00225e;
}

.bgc-secondary {
    background-color: #5c91f7;
}
.bgc-first{
    background-color: #1c4fac;
}

.c-white {
    color: #ffffff;
}
.c-white-trans {
    color: rgba(255, 255, 255, .5);
}

.c-main {
    color: #002c79;
}

.c-primary {
    color: #00225e;
}

.c-secondary {
    color: #4fc9d9;
}

.menu-link {
    padding: 10px;

    /*border-bottom: aliceblue solid 5px;*/
    /*border-radius: 8px;*/
    /*transition: 0.5s;*/

}
.menu-link:hover {
    background-color: #fff;
    border-radius: 8px;
}
.menu-link:hover .nav-link{
    color: #000 !important;

}
.menu-link:hover i{
    color: #000 !important;

}

/*.active:hover {*/
    /*padding: 10px;*/
    /*border-bottom: 0;*/
    /*transition: 1s;*/
/*}*/

.side-menu {
    list-style-type: none;
    color: #ffffff;
    padding: 0;
}

.side-menu > li {
    margin-bottom: 10px;
    display: block;
}

.side-menu > li:after {
    content: '';
    position: absolute;
    width: 90%;
    height: 1px;
    left: 4%;
    display: block;
    clear: both;
    background-color: #2d4671;
    margin-top: 5px;
}

.side-menu a {
    color: #ffffff;
}

.list-header {
    color: #ffffff;
    margin: 10px;
}

.selet2 {
    padding-bottom: 16px !important;
}

.custom-select {
    border: #587fc9 solid 2px;
    border-radius: 8px;
    background-color: transparent;
    color: #8393ae;
}

.custom-select:focus {
    border: #587fc9 solid 2px;
    border-radius: 8px;
    background-color: transparent;
    color: #8393ae;
}

hr {
    height: 1px;
    color: #2d4671;
    background-color: #2d4671;
    border: none;
}

.mega-dropdown:hover {
    background-color: #f9f9f9;
border-radius: 8px;
}
.mega-dropdown:hover .nav-link{
    color: #0c0c0c !important;
}
.mega-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-left: -10px;
    margin-top: 0;
}

.mega-dropdown:hover .mega-dropdown-content {
     display: block;
}
.mega-dropdown-content:hover  a {
    display: block;
}
.dataTables_scrollHead > .dataTables_scrollHeadInner .table{
    width: 100% !important;
}
.dataTables_scrollHead > .dataTables_scrollHeadInner{
    width: 100% !important;
}
.dataTables_scrollFoot > .dataTables_scrollFootInner{
    width: 100% !important;
}
.dataTables_scrollFoot > .dataTables_scrollFootInner .table{
    width: 100% !important;
}
#map {
    width: 100%;
}

.f-size-12{
    font-size: 12px;
}

.f-size-16{
    font-size: 16px;
}

.f-size-24{
    font-size: 24px;
}


